<% layout('layout') %>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/">RateMe</a>
        </div>

        <ul class="sidebar-nav">
           <img src="http://placehold.it/100x100" class="img-responsive img-circle profile_img" alt="">
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Guest</h2>
            </div>
            
            <li><a href="/signup"><i class="fa fa-registered"></i> Register Here</a></li>
            <li class="lists">As a guest you can see the companies that have signed up to our platform.</li>
            
            <li class="lists">After registration, you can register a company, rate and review other companies.</li>

        </ul>
    </div>


    <div id="page-content-wrapper">
       <% include partials/nav %>
        <div class="container-fluid main_body">
           <h1>Welcome to RateMe</h1>
           <div class="ul_links">
	            <ul>
	                <li><a href="/">Home</a></li> |
	                <li><a href="/companies">All Companies</a></li>
	            </ul>
	        </div>
           
           <div class="bodyDiv">
				<h4 style="">Companies</h4>
				
				<% arrayAverage = function(arr) {
                    return _.reduce(arr, (num1, num2) => {
                        return num1 + num2;
                    }, 0) / (arr.length === 0 ? 1 : arr.length);
                } %>
                
				
				<% for(var i = 0; i < data.length; i++) {%>
                    <% var total = arrayAverage(data[i].ratingNumber) %>
                    
                    
				    <div class="col-xs-12 col-md-6 col-lg-4 companyListDiv">
                        <a href="/login">
                            <img src="/uploads/<%= data[i].image %>" class="companyListItemLogo">

                            <div class="companyListItemInfo">
                                <h5 class=""><%= data[i].name %></h5>
                                <span class="">
                                    <i class="star" data-score="<%= total %>"></i>
                                    (<%= data[i].ratingNumber.length %>)
                                </span><br>
                                <i class="fa fa-building-o "> <%= data[i].sector %></i><br>
                                <i class="fa fa-map-marker "> <%= data[i].city %>, <%= data[i].country %></i>
                            </div>

                        </a>
                    </div>
				<% } %>
            </div>
            
        </div>
    </div>

</div>
    
    


